*{
    margin: none;
    padding: none;
}
.header-bg{
    background-color: #2874f0;
    width: 100%;
    height: 8vh;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-items{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo{
    width: min-content;
    color: #c8c014;
    font-size: 1.1rem;
    font-weight: 800;
}

.search-bar{
    width: 40vw;
    height: 2rem;
    background-color: beige;
    border-radius: 16px;
    display: flex;
}

.login-button{
    width: 7rem;
    text-align: center;
    height: 1.8rem;
    line-height: 1.8rem;
    background-color: #ffffff;
    color: #2874f0;
    cursor: pointer;
    font-weight:600;
}

.cartIcon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
}

.cartIcon img{
    width: 100%;
    height: 100%;
    display: inline;
}

.cartIcon span{
    position: absolute;
    left: 40%;
    top: -10px;
    width: 1rem;
    text-align: center;
    background-color: red;
    border-radius: 30%;
    color: white;
    font-weight: 700;
}