:host{
    display: flex;
    flex-direction: column;
    position: relative;
}

main{
    // display: grid;
    // grid-template-columns: auto auto;
    display: flex;
    padding: 0 20% 0 20%;
    flex-grow: 1;
}
