.product-list-container{
    width:50vw;
    background-color: white;
    display: grid;
    gap: 1rem;
    border: 1px solid rgba(190, 190, 190, 0.541);
    padding: 1rem;
    max-height: 92vh;
    overflow: auto;
}
